.main-footer
    display: flex
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    background: color-gray-dark

    &--blue &__item path
        fill: color-third-party-twitter

    &--green &__item path
        fill: color-brand-green

    &--yellow &__item path
        fill: color-brand-yellow

    &--orange &__item path
        fill: color-brand-orange

    &__item
        padding: sizing-MD
        flex: 1
        display: flex
        align-items: center
        justify-content: center
