.aliados
    *
        color: color-brand-orange !important

.menu
    display: flex
    justify-content: space-between

    &__cont
        display: flex
        justify-content: center
        width: 32%
