
.fill-green-dark
    fill: color-brand-green--dark

.fill-green
    fill: color-brand-green

.fill-white
    fill: color-white

.fill-black
    fill: color-gray-dark

.fill-green--light
    fill: color-brand-green--light

.eyebrowns
    fill: none
    stroke-linecap: round
    stroke-miterlimit: 10
    stroke-width: 18px
    stroke: color-gray-dark
