.home
    color: color-brand-yellow
    padding: sizing-MD

.home-header
    display: flex
    margin-bottom: sizing-2XL

.user-pic
    overflow: hidden
    margin-right: sizing-LG

    &__img
        border-radius: border-radius-round
        overflow: hidden

.user-info
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start

    &__name
        font-size: font-size-2XL

    &__type
        font-size: font-size-MD

    &__progress
        margin: sizing-MD 0

    &__lvl
        align-self: flex-end
