.item
    padding-bottom: 40px

    *
        color: color-brand-green !important

.patrocinado-item
    &__pic
        margin-bottom: 40px

    &__title
        font-size: font-size-4XL
        font-weight: bold
        margin-bottom: 20px
        text-align: center

.wish
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    margin-bottom: 40px

    &__title
        font-size: font-size-2XL
        margin-bottom: 20px

    &__pic
        margin-bottom: 20px

    &__txt
        margin-bottom: 20px
        text-align: center

.progreso-patrocinado
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    margin-bottom: 40px

    &__title
        font-size: font-size-2XL
        margin-bottom: 20px

    &__txt
        align-self: flex-end
        margin-top: 20px

.patrocinado-por
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    margin-bottom: 40px
    padding-bottom: 20px

    &__title
        font-size: font-size-2XL
        margin-bottom: 20px

    &__list
        display: flex
        flex-wrap: wrap

    &__item
        align-items: center
        display: flex
        justify-content: center
        width: 50%

    &__link
        text-decoration: underline

.patrocinadoItem-description
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    margin-bottom: 80px
    padding-bottom: 20px

    &__title
        font-size: font-size-2XL
        margin-bottom: 20px

    &__txt
        text-align: center
