.modal-backdrop
    align-items: center
    background: rgba(color-brand-black, 0.5)
    display: flex
    height: 100vh
    justify-content: center
    left: 0
    opacity: 1
    position: fixed
    top: 0
    width: 100vw
    z-index: z-index-modal

    &--hidden
        opacity: 0
        z-index: -(z-index-modal)

.modal
    background: color-black
    border-radius: border-radius-MD
    left: 0
    max-height: 80vh
    max-width: 300px
    overflow: hidden
    position: relative
    top: 0
    transform: scale(1)
    transition-duration: 300, 200, 100
    transition-property: transform, left, top
    width: 80vw

    &--large
        width: 95vw
        max-width: 400px

    &--closed
        left: -100vw
        top: 100vh
        transform: scale(0.1, 0.001)

    &__header
        align-items: center
        background: color-gray-dark
        display: flex
        height: sizing-3XL
        justify-content: flex-start
        padding: 0 sizing-MD

    &__content
        position: relative

    &__footer
        height: sizing-MD
        background: color-gray-dark

.modal-header
    &__button
        border-radius: border-radius-round
        height: sizing-LG
        margin-right: sizing-MD
        width: @height

        &--close
            background: color-brand-red
            color-hover(@background)

        &--minimize
            background: color-brand-yellow
            color-hover(@background)

        &--expand
            background: color-brand-green
            color-hover(@background)

        &--disabled
            background: color-gray-medium
            pointer-events: none
