
.patrocinados
    padding-bottom: sizing-3XL

    *
        color: color-brand-green !important

.title-patrocinados
    font-size: 24px
    font-weight: bold
    margin-bottom: sizing-2XL
    text-align: center

.patrocinado-info
    display: flex
    flex-direction: column
    margin: 20px 0 50px

    &__title
        font-size: font-size-3XL
        margin: 10px 0
        text-align: center

    &__description
        text-align: center

    &__btn
        margin: 15px
