.main
    *
        color: color-third-party-twitter

.margin
    padding: sizing-XL !important

.perfil
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center

    &__picture
        border: 5px solid color-third-party-twitter
        border-radius: border-radius-round

    &__info
        align-items: center
        display: flex
        flex-direction: column
        justify-content: center
        width: 100%

    &__lvl
        align-items: flex-end
        display: flex
        flex-direction: column
        justify-content: center
        width: 100%

.info-perfil
    display: flex
    margin: 20px 0 50px
    width: 100%

    &__name
        font-size: font-size-3XL
        width: 80%

    &__gender
        align-items: center
        display: flex
        justify-content: center
        width: 20%

    &__gender-img
        width: 100%

    &__gender-img>path
        fill: color-third-party-twitter

.puntos
    display: flex
    justify-content: space-between
    margin: 40px 0
    width: 100%

    &__generados
        align-items: center
        display: flex
        flex-direction: column-reverse
        width: 48%

.puntos-generados
    &__valor
        font-size: 32px
        font-weight: bold

    &__txt
        text-align: center

.datos
    margin: sizing-LG 0
    padding: sizing-XL

    &__titulo
        font-size: font-size-LG
        font-weight: bold

    &__dato
        font-size: 20px

.historico
    margin: 60px 0 50px

    &__title
        font-size: 24px
        font-weight: bold
        margin-bottom: 20px
        text-align: center

.list-historico
    display: flex
    justify-content: space-between
    margin: sizing-LG 0

    &__data
        font-size: 16px
        font-weight: bold
