size = 10px

@keyframes progress
    0%
        left: 0

    100%
        left: "calc(100% - %s)" % size

.progress
    overflow: hidden
    padding: 0 !important
    width: 100%

    &--yellow &__bar
        background: color-brand-yellow

        &::after
            background: lighten(@background, 40%)

    &--blue &__bar
        background: color-third-party-twitter

        &::after
            background: lighten(@background, 40%)

    &--green &__bar
        background: color-brand-green

        &::after
            background: lighten(@background, 40%)

    &__bar
        display: block
        height: size
        overflow: hidden
        position: relative

        &::after
            animation: progress 2s ease-in-out infinite alternate
            content: ""
            display: block
            height: size
            left: 0
            position: absolute
            top: 0
            width: size
