size = 10px

@keyframes progress
    0%
        left: 0

    100%
        left: "calc(100% - %s)" % size

.progress
    width: 100%
    padding: 0 !important
    overflow: hidden

    &--yellow &__bar
        background: color-brand-yellow

        &::after
            background: lighten(@background, 40%)

    &--blue &__bar
        background: color-third-party-twitter

        &::after
            background: lighten(@background, 40%)

    &__bar
        height: size
        position: relative
        display: block
        overflow: hidden

        &::after
            content: ""
            display: block
            position: absolute
            top: 0
            left: 0
            height: size
            width: size
            animation: progress 2s ease-in-out infinite alternate
