.slider
    margin-bottom: sizing-XL

    &__title
        font-size: font-size-XL
        margin-bottom: sizing-SM

    &__btn
        margin-right: sizing-XL

.slider-list
    display: flex
    overflow-x: auto
    overflow-y: hidden
    white-space: nowrap
    align-items: center

    &__item
        padding: 0 !important
        height: 15vh
        width: 15vh
        flex-shrink: 0
        margin-right: sizing-XL

        >img
            width: 100%
